
// colors
$black: #1a1a1a;
$darkgrey: #454545;
$background: #E8EBED;
$white: #f1f4f6;
// font


body {
  background-color: $background;
  margin: auto;
}

h1 {
  font-size: 6.8vw;
  color: $black;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h4 {
  font-family: 'Poppins', sans-serif;
  color: $black;
  font-size: 1.5vw;
  font-weight: 400;
}

p {
  font-family: 'STIX Two Text', serif;
}

.header {
  display: flex;
  width: 100%;
  margin: auto;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.headline {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
}

.selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  border: 1px solid $darkgrey;
  border-radius: 40px;
  height: 50px;
}

.form-select {
  width: 25%;
  border: none;
  background: none;
  border-right: 1px solid $darkgrey;
  border-radius: 0;
  padding-left: 3%;


  &:hover {
    -moz-box-shadow: inset 0 0 5px $darkgrey;
    -webkit-box-shadow: inset 0 0 5px $darkgrey;
    box-shadow: inset 0 0 5px $darkgrey;
    cursor: pointer;
  }
}

.left {
  border-radius: 40px 0 0 40px;
}

.btn-custom {
  width: 25%;
  border-radius: 0 40px 40px 0;
  background: $black;
  border: none;
  color: $background;

  &:hover {
    background: #292929;
    color: $white;
    -moz-box-shadow: inset 0 0 10px $darkgrey;
    -webkit-box-shadow: inset 0 0 10px $darkgrey;
    box-shadow: inset 0 0 10px $darkgrey;
  }
}

.text-primary {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
